@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: poppins, sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}
header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transform: 0.5s ease;
}
.logo:hover {
    transform: scale(1.1);
}
nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transform: 0.3s ease;
    border-bottom: 3px solid transparent;
}
nav a:hover {
    border-bottom: 3px solid #b74b4b;
    color: #b74b4b;
}
@media (max-width:995px) {
    nav {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        display: none;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }
    nav.active {
        display: block;
    }
    nav a {
        display: block;
        font-size: 1.8rem;
        margin: 3rem 0;
    }
    nav a:hover,
    nav a:active {
        border-bottom: 0.5rem solid #b74b4b;
        padding: 1rem;
        border-radius: 0.5rem;
    }
}
section {
    padding: 5rem 9% 5rem;
    min-height: 100vh;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8rem;
    background-color: black;
}
.home .content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
span {
    color: #b74b4b;
}
.home .content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.home-img {
    border-radius: 50%;
}
.home-img img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}
.home-img img:hover {
    transform: scale(1.05);
    font-size: 1.8rem;
    font-weight: 500;
}
.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transform: 0.3s ease;
}
.social-icons a:hover {
    background-color: #b74b4b;
    color: black;
    transform: scale(1.3) translateY(5px);
    box-shadow: 0 0 25px solid #b74b4b;
}
.btn {
    display: inline-block;
    padding: 1rem 3rem;
    background-color: #000000;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 4rem;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.3s ease;
    border: 10px solid #b74b4b;
}
.btn:hover {
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px solid #b74b4b;
}
.typing-text {
    font-size: 35px;
    font-weight: 600;
    min-height: 280px;
}
.typing-text span {
    position: relative;
}
.typing-text span::before {
    content: 'software developer';
    color: #b74b4b;
    animation: words 20s infinite;
}
.typing-text span::after {
    content: '';
    position: absolute;
    height: 100%;
    width: calc(100% +8px);
    background-color: #000000;
    animation: cursor 0.7s infinite;
    right: -8px;
}
@keyframes cursor {
    to {
        border-left: 3px solid #b74b4b;
    }
    
}
@keyframes words {
    0%,20% {
        content: 'software developer';
    }
    25%,45% {
        content: 'web designer';
    }
    50%,70% {
        content: 'ui/ux designer';
    }
    75%,95% {
        content: 'graphic designer';
    }
}
@media (max-width:100px) {
    .home {
        gap: 4rem;
    }
}
@media (max-width:995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home .content h3 {
        font-size: 2.5rem;
    }
    .home .content h1 {
        font-size: 5rem;
    }
    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

}
p {
    font-size: 1.8rem;
    color: #bbbbbb;
    margin: 1.5rem 0 3rem;
    line-height: 1.6;
    color: #c300ff;
}
p:hover {
    color: #ffffff;

}
@keyframes p {
    0% {
        color: #bbbbbb;
    }
    50% {
        color: #8c00ff;
    }
    100% {
        color: #bbbbbb;
    }
    from {
        font-size: 1.8rem;
        to {
            font-size: 2.5rem;
        }
    }
}
.jo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    overflow: hidden;
}
.ring {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ring i {
    position: absolute;
    inset: 0;
    border: 2px solid white;
    transition: 0.5s;
}

.ring i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
}

.ring i:nth-child(2) {
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 38%;
    animation: animate 3s linear infinite;
    
}
.ring i:nth-child(3) {
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 38%;
    animation: animate 10s linear infinite;
}
.ring:hover i {
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.login h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.login .inputBx {
    position: relative;
}
.login .inputBx input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login .inputBx label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}
.login .inputBx input:focus ~ label,
.login .inputBx input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}
.login .inputBx input[type="submit"] {
    background: #03a9f4;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.links {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
    font-size: 14px;
    color: #fff;
    padding-top: 10px;
    text-decoration: none;
}